<div class="banner" id="cocktail" style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 300, width: 400, crop: :fill %>')">
</div>
<div class="container">
  <h2 id="cocktail-title"><%= @cocktail.name %></h2>
  <ul class="list-unstyled">
  <% @cocktail.doses.each do |dose| %>
    <li>
      <span class="trash"><%= link_to '<i class="fas fa-trash"></i>'.html_safe, dose_path(dose), method: :delete %></span>
      <span><%= dose.description %></span>
      <span><%= dose.ingredient.name %></span>
    </li>
  <% end %>
    <li>
      <br>
      <%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail) %>
    </li>
  </ul>
</div>

<div class="container">
  <h2 id="cocktail-title">Reviews</h2>
  <% if @cocktail.reviews.empty? %>
    <p class="pink empty-spacer">Be the first to leave a review!</p>
  <% else %>
    <ul class="list-unstyled space-left">
      <% @cocktail.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>
          </span>
          <%= review.content %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="container">
  <%= render "reviews/new", cocktail: @cocktail, review: @review %>
</div>

