<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.typekit.net/lni4mvd.css">
  </head>

  <body>
    <div class="navbar">
      <div id="wrapper">
        <ul>
          <li><a href="/cocktails">Browse all cocktails</a></li>
          <li><a href="/"><h2>Alco</h2></a></li>
          <li><a href="/cocktails/new">Add your own cocktail</a></li>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
